<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.user.UserSQLMapper">
    <!-- 회원가입 -->
    <insert id="insertUser">
        insert into eden_user(user_no, question_no, user_id, user_pw, user_nickname, user_gender,
                              user_birth, user_phone, user_email, user_findAnswer)
        values (eden_user_seq.nextval,
                #{question_no},
                #{user_id},
                #{user_pw},
                #{user_nickname},
                #{user_gender},
                #{user_birth},
                #{user_phone},
                #{user_email},
                #{user_findAnswer}
                )
    </insert>

    <!-- 아이디 중복체크 -->
    <select id="isExistId" resultType="int">
        select count(*)
        from eden_user
        WHERE user_id = #{user_id}
    </select>

    <!-- 닉네임 중복체크 -->
    <select id="isExistNickName" resultType="int">
        select count(*)
        from eden_user
        where user_nickname = #{user_nickname}
    </select>

    <!-- 휴대폰 번호 중복체크 -->
    <select id="isExistPhone" resultType="int">
        select count(*)
        from eden_user
        where user_phone = #{user_phone}
    </select>

    <!-- 이메일 중복체크 -->
    <select id="isExistEmail" resultType="int">
        select count(*)
        from eden_user
        where user_email = #{user_email}
    </select>

    <!-- 로그인 -->
    <select id="selectByIdAndPw" resultType="UserVo">
        select *
        from eden_user
        where user_id = #{user_id}
    </select>

    <!-- 아이디 찾기 -->
    <select id="getUserIdByNickNameAndEmail" resultType="map">
        select *
        from eden_user
        where user_nickname = #{user_nickname}
          AND user_email = #{user_email}
    </select>

    <!-- 비밀번호 찾기 질문 -->
    <select id="getJoinQuestionList" resultType="QuestionVo">
        select *
        from eden_find_question
    </select>

    <!-- 비밀번호 찾기 질문 조회 -->
    <select id="getUserQuestionById" resultType="map">
        SELECT nf.question_content
        FROM eden_user nu,
             eden_find_question nf
        WHERE nu.question_no = nf.question_no
          AND nu.user_id = #{user_id}
    </select>

    <!-- 비밀번호 찾기 질문 답변 -->
    <select id="getUserPwByfindAnswer" resultType="UserVo">
        SELECT *
        FROM eden_user
        WHERE user_findAnswer = #{user_findAnswer}
          AND user_id = #{user_id}
    </select>

    <!-- 임시 비밀번호 발급 -->
    <update id="getUserUpdatePw">
        UPDATE eden_user
        SET user_pw = #{user_pw}
        WHERE user_id = #{user_id}
    </update>

    <!-- 회원정보 조회 -->
    <select id="getUser" resultType="UserVo">
        select *
        from eden_user
        WHERE user_id = #{user_id}
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUserInfo">
        update eden_user
        SET question_no     = #{question_no},
            user_nickname   = #{user_nickname},
            user_phone      = #{user_phone},
            user_email      = #{user_email},
            user_findAnswer = #{user_findAnswer}
        where user_id = #{user_id}
    </update>

    <!-- 회원정보 탈퇴 -->
    <update id="deleteUserInfoByUserNo">
        UPDATE eden_user
        SET user_status = 'Inactive'
        WHERE user_no = #{user_no}
          AND user_pw = #{user_pw}
    </update>

    <!-- 로그인 일자 업데이트 -->
    <update id="updateLoginDate">
        update eden_user set user_last_connection_date = SYSDATE where user_id = #{user_id}
    </update>

    <!-- 아이디 체크 -->
    <select id="isCheckId" resultType="int">
        select count(*) from eden_user where user_id = #{user_id}
    </select>

    <!-- 닉네임 체크 -->
    <select id="isCheckNickName" resultType="int">
        select count(*) from eden_user where user_id = #{user_id} and user_nickname = #{user_nickname}
    </select>

    <!-- 이메일 체크 -->
    <select id="isCheckEmail" resultType="int">
        select count(*) from eden_user where user_id = #{user_id} and user_email = #{user_email}
    </select>

    <!-- 계정 복구 데이터 조회 -->
    <select id="checkUser" resultType="int">
        select *
        from eden_user
        where user_id = #{user_id}
          and user_nickname = #{user_nickname}
          and user_email = #{user_email}
    </select>

    <!-- 계정 활성화 -->
    <update id="recoveryUserByInfo">
        update eden_user
        SET user_status = 'active'
        where user_id = #{user_id}
          and user_nickname = #{user_nickname}
          and user_email = #{user_email}
    </update>

    <!--로그인 유지-->
    <update id="keepLogin">
        UPDATE eden_user
        SET
            sessionkey     = #{sessionId}
          , sessionlimit = #{next}
        WHERE user_id = #{user_id}
    </update>

    <!--Session Key 확인-->
    <select id="checkUserWithSessionKey" resultType="UserVo">
        SELECT *
        FROM eden_user
        WHERE sessionkey = #{value}
          AND sessionlimit > sysdate
    </select>
</mapper>